* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 40px;
}
h1{
  height: 60px;
}
.p1{
  height: 40px;
  line-height: 40px;
}

a{
  border-bottom-width: 1px;
}

tr{width: 100%;}
th{
  margin: 20px;
  text-align: center;
  line-height: 40px;
}
td{
  margin: 40px;
  text-align: center;
  line-height: 40px;
}
